<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= current_page.data.description %>">
  <meta name="author" content="Damir Kotorić">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <!-- Google Webmaster Tools verification (keep it here permanently) -->
  <meta name="google-site-verification" content="xns4J7VsDFSTLxgBa_X2MTO07TVjiNPfkIIs0uoJh1w" />

  <!-- Use title if it's in the page YAML frontmatter -->
  <% if current_page.data.title.nil? || current_page.data.title.empty? %>
      <title>Damir Kotorić</title>
  <% else %>
      <title><%= current_page.data.title %> | Damir Kotorić</title>
  <% end %>

  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png" />
  <link rel="shortcut icon" href="/images/favicon.png" />
  <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,900&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/ico" href="/images/favicon.ico" />
  <%= stylesheet_link_tag :index %>
  <%= javascript_include_tag :fast_click, :handlebars, :jquery, :all %>
</head>

<body class="page--<%= page_classes %>">

  <%= yield %>

  <script type="text/javascript">
    // Google Analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36732319-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <script type="text/javascript">
    // Mouseflow
    var _mfq = _mfq || [];
    (function() {
      var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
      mf.src = "//cdn.mouseflow.com/projects/87b21fc6-3e1f-448e-accb-9c3478ca395d.js";
      document.getElementsByTagName("head")[0].appendChild(mf);
    })();
  </script>
</body>

</html>
